@font-face {
  font-family: Roboto;

  src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
 
 
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
 
body{
  font-family: roboto;
}

.accountPagina .detailAccount{
  height: 400px;
} 
.accountPagina .detailAccount a{
  text-decoration: none;
  color: black;
}
 .accountPagina .lijnenOnderaan{
    height: 20px;
    margin-top: 28%;
    text-align: center;
  }
  .accountPagina .lijnenOnderaan li{
    list-style: none;
    float: left;
    text-indent: -9999px;
    margin-bottom: 2%;
  }
  .accountPagina .lijnenOnderaan ul{
    margin-top: 10px;
    padding: 0;
  }
  .accountPagina .rood{
    width: 45%;
    background-color: #E30512;
  }
 .accountPagina  .donkerGrijs{
    width: 30%;
    background-color: #3C3C3B;
  }
  .accountPagina .grijs{
    background-color: #E8E8E8;
    width: 25%;
  }
 .accountPagina footer{
    height: 60px;
  }

.accountPagina .detailAccount li, .detailVeranderCampus li{
  
  height: 40px;
  border-bottom: 2px solid grey;
  list-style: none;
}

.accountPagina .detailAccount li p, .detailVeranderCampus li p{
  margin: 5% 0 5% 3%;
}
.accountPagina .taal ,.campus{
  width: 60%;
  float: left;
}

.accountPagina .algemeneInstellingenVerander select{
  float: right;
  border: 2px solid grey;
  width: 30%;
  float: left;
  margin-top: 5%;
}
.accountPagina .algemeneInstellingenVerander , .test{
  padding-bottom: 5%;
}

#pijl{
  width: 2em;
	padding-left: 3%;
}

.accountPagina .detailVeranderCampus li p{
  width: 60%;
}

.accountPagina .check{
  display: none;
  margin-top: 5%;
}

.accountPagina .checkKaai{
  display: block;
}

.accountPagina .test p a{
  text-decoration: none;
  color: black;
}