@font-face {
  font-family: Roboto;

  src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
 
 
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body{
  font-family: roboto;
}

.detailAccount{
  height: 400px;
} 
.detailAccount a{
  text-decoration: none;
  color: black;
}
  .lijnenOnderaan{
    height: 20px;
    margin-top: 28%;
    text-align: center;
  }
  .lijnenOnderaan li{
    list-style: none;
    float: left;
    text-indent: -9999px;
    margin-bottom: 2%;
  }
  .lijnenOnderaan ul{
    margin-top: 10px;
    padding: 0;
  }
  .rood{
    width: 45%;
    background-color: #E30512;
  }
  .donkerGrijs{
    width: 30%;
    background-color: #3C3C3B;
  }
  .grijs{
    background-color: #E8E8E8;
    width: 25%;
  }
  footer{
    height: 60px;
  }

.detailAccount li, .detailVeranderCampus li{
  
  height: 40px;
  border-bottom: 2px solid grey;
  list-style: none;
}

.detailAccount li p, .detailVeranderCampus li p{
  margin: 5% 0 5% 3%;
}
.taal ,.campus{
  width: 60%;
  float: left;
}

.algemeneInstellingenVerander select{
  float: right;
  border: 2px solid grey;
  width: 30%;
  float: left;
  margin-top: 5%;
}
.algemeneInstellingenVerander , .test{
  padding-bottom: 5%;
}

#pijl{
  width: 2em;
	padding-left: 3%;
}

.detailVeranderCampus li p{
  width: 60%;
}

.detailVeranderCampus{
  
}
.check{
  display: none;
  margin-top: 5%;
}

.checkKaai{
  display: block;
}

.test p a{
  text-decoration: none;
  color: black;
}