@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; 
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

main{
    padding-left: 20px;
    padding-right: 20px;
}
a{
    text-decoration: none;
}

#annuleerknop{
    width: 50px;
    height: 50px;
    margin: -25px 0px 0px 75%;
    position: absolute;
    z-index: 999999;
}
#fotoToevoegen{
    width: 70px;
    height: 70px;
}
select, input, p{
    font-family: 'Roboto';
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1em;
}
form{
    margin-top: 20px;
    padding-top: 30px;
}
#campus, #gebouw, #lokalen, #onderwerp{
    border: 2px solid black;
    border-top: none;
    text-align: center;
    margin-bottom: 35px;
}
#beschrijving{
    border: 2px solid black;
    border-top: none;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-bottom: 35px;
}

#gebouw, #lokalen{
    display: inline-block;
    width: 45.5%;
}
#campus{
  text-align: left;
  padding-left: 10px;
}
#campusTekst{
  width: 70%;
}
#onderwerp{
  text-align: left;
  padding-left: 10px;
}
#gebouw{
  text-align: left;
  padding-left: 10px;
  width: 45.5%;
}
#gebouw p,#lokalen p,#campus p, #onderwerp p{
    margin-right: 10px;
}
#beschrijving p{
    margin-bottom: 10px;
}
#beschrijving{
    margin-bottom: 20px;
}
#beschrijving textarea{
    font-family: 'Roboto';
    font-size: 1em;
    width: 96%;
    height: 5em;
}
button{
    background-color: rgb(227,6,19);
    padding: 15px 32px;
    margin-right: 90px;
    font-size: 1.1em;
    border-radius: 8px;
    color: white;
    display: inline;
}
#gebouw{
    margin-right: 8px;
}
#onderwerp{
    margin-bottom: 25px;
}
select{
    border: none;
}
.fotoUploaden{
    display: inline;
}
.fotoUploaden input{
    display: none;
}
.fotoToevoegen{
    position: relative;
}
#beschrijvingTekst{
  max-width: 96%;
}

@media screen and (max-width: 373px){
    #gebouw, #lokalen{
    width: 46%;
}
    select, input, p{
    font-size: 0.9em;
}
    button{
    margin-right: 40px;
}
}
