@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; 
}

.formulierSuggestie .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.formulierSuggestie main{
    padding-left: 20px;
    padding-right: 20px;
}

.formulierSuggestie #annuleerknop{
    width: 50px;
    height: 50px;
    margin: -25px 0px 0px 75%;
    position: absolute; 
    z-index: 999999;
}
.formulierSuggestie select, .formulierSuggestie input, .formulierSuggestie p{
    font-family: 'Roboto';
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1em;
}
.formulierSuggestie form{
    margin-top: 20px;
    padding-top: 30px;
}
.formulierSuggestie #campus, .formulierSuggestie #onderwerp{
    border: 2px solid black;
    border-top: none;
    text-align: center;
    margin-bottom: 35px;
}
.formulierSuggestie #campus p, .formulierSuggestie #onderwerp p{
    margin-right: 10px;
}
.formulierSuggestie #onderwerp input{
    width: 170px;
}
.formulierSuggestie #beschrijving p{
    margin-bottom: 10px;
}
.formulierSuggestie #beschrijving{
    border: 2px solid black;
    border-top: none;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-bottom: 35px;
}
.formulierSuggestie #beschrijving textarea{
    font-family: 'Roboto';
    font-size: 1em;
    width: 96%;
    height: 5em;
}
.formulierSuggestie button{
    background-color: rgb(227,6,19);
    padding: 15px 32px;
    font-size: 1.1em;
    border-radius: 8px;
    color: white;
    border: none;
}
.formulierSuggestie select{
    border: none;
}
.formulierSuggestie #beschrijvingTekst{
  max-width: 96%;
}
@media screen and (max-width: 373px){
    .formulierSuggestie select, .formulierSuggestie input, .formulierSuggestie p{
    font-size: 0.9em;
}
}