.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

main{
    padding-left: 20px;
    padding-right: 20px;
}

#annuleerknop{
    width: 50px;
    height: 50px;
    margin: -25px 0px 0px 75%;
    position: absolute;
    
}
#fotoToevoegen{
    width: 70px;
    height: 70px;
    float: right;
}
select, input, p{
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1em;
}
form{
    margin-top: 20px;
    padding-top: 30px;
}
#campus, #gebouw, #lokalen, #onderwerp{
    border: 2px solid black;
    border-top: none;
    text-align: center;
    margin-bottom: 35px;
}
#gebouw, #lokalen{
    display: inline-block;
    width: 47%;
}
#gebouw p,#lokalen p,#campus p, #onderwerp p{
    margin-right: 10px;
}
#beschrijving p{
    margin-bottom: 10px;
}
#beschrijving{
    margin-bottom: 20px;
}
#beschrijving textarea{
    font-size: 1em;
}
button{
    background-color: rgb(227,6,19);
    padding: 15px 32px;
    font-size: 1.1em;
    border-radius: 8px;
    color: white;
}
#gebouw{
    margin-right: 8px;
}
#onderwerp{
    margin-bottom: 25px;
}
select{
    border: none;
}

@media screen and (max-width: 373px){
    #gebouw, #lokalen{
    width: 46%;
    margin: 
}
    #campus #onderwerp{
        width: 100%;
    }
    select, input, p{
    font-size: 0.9em;
}
}
