@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; 
}

.formulierKlacht .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.klachtFormulier main{
    padding-left: 20px;
    padding-right: 20px;
}
.klachtFormulier a{
    text-decoration: none;
}

.klachtFormulier #annuleerknop{
    width: 50px;
    height: 50px;
    margin: -25px 0px 0px 75%;
    position: absolute;
    z-index: 999999;
}
.klachtFormulier #fotoToevoegen{
    width: 70px;
    height: 70px;
}
.klachtFormulier select, .klachtFormulier input, .klachtFormulier p{
    font-family: 'Roboto';
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.1em;
}
.klachtFormulier form{
    margin-top: 20px;
    padding-top: 30px;
}
.klachtFormulier #campus, .klachtFormulier #gebouw, .klachtFormulier #lokalen, .klachtFormulier #onderwerp{
    border: 2px solid black;
    border-top: none;
    text-align: center;
    margin-bottom: 35px;
}
.klachtFormulier #beschrijving{
    border: 2px solid black;
    border-top: none;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-bottom: 35px;
}

.klachtFormulier #gebouw, .klachtFormulier #lokalen{
    display: inline-block;
    width: 45.5%;
}
.klachtFormulier #campus{
  text-align: left;
  padding-left: 10px;
}
.klachtFormulier #campusTekst{
  width: 70%;
}
.klachtFormulier #onderwerp{
  text-align: left;
  padding-left: 10px;
}
.klachtFormulier #gebouw{
  text-align: left;
  padding-left: 10px;
  width: 45.5%;
}
.klachtFormulier #gebouw p, .klachtFormulier #lokalen p, .klachtFormulier #campus p, .klachtFormulier #onderwerp p{
    margin-right: 10px;
}
.klachtFormulier #beschrijving p{
    margin-bottom: 10px;
}
.klachtFormulier #beschrijving{
    margin-bottom: 20px;
}
.klachtFormulier #beschrijving textarea{
    font-family: 'Roboto';
    font-size: 1em;
    width: 96%;
    height: 5em;
}
.klachtFormulier button{
    background-color: rgb(227,6,19);
    padding: 15px 32px;
    border: none;
    font-size: 1.1em;
    border-radius: 8px;
    color: white;
    display: inline;
}
.klachtFormulier #gebouw{
    margin-right: 8px;
}
.klachtFormulier #onderwerp{
    margin-bottom: 25px;
}
.klachtFormulier select{
    border: none;
}
.klachtFormulier .fotoUploaden{
   margin-left: 90px;
  
    display: inline;
}
.klachtFormulier .fotoUploaden input{
    display: none;
}
.klachtFormulier .fotoToevoegen{
  
    position: relative;
}
.klachtFormulier #beschrijvingTekst{
  max-width: 96%;
}
.klachtFormulier .linkVerzenden{
  text-decoration: none;
  color: white;
  padding: 15px 0px;
  cursor: pointer;
}
@media screen and (max-width: 373px){
    .klachtFormulier #gebouw, .klachtFormulier #lokalen{
    width: 46%;
}
    .klachtFormulier select, .klachtFormulier input, .klachtFormulier p{
    font-size: 0.9em;
}
    .klachtFormulier button{
    margin-right: 40px;
}
}
