@font-face {
	font-family: Roboto;
	src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

#klachtenmeldingCSS #contentDiv {
	margin: 5% 10%;
}

#klachtenmeldingCSS h1,
#klachtenmeldingCSS h2 {
	margin-bottom: 3%;
}

#klachtenmeldingCSS h2 {
	font-size: 1.1em;
	font-weight: 400;
}

#klachtenmeldingCSS h3 {
	font-size: 1em;
	color: #bebebe;
	margin-bottom: 10%;
	font-weight: 400;
}

#klachtenmeldingCSS #pbeschrijving,
#klachtenmeldingCSS #foto {
	margin-bottom: 10%;
}

#klachtenmeldingCSS .buttonTerug {
	background-color: #E30512;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	border-radius: 8px;
	clear: both;
	margin-bottom: 5%;
}

#klachtenmeldingCSS #foto {
	width: 80%;
}

#klachtenmeldingCSS #circle {
	width: 1em;
	float: left;
	margin-left: 1em;
}

#klachtenmeldingCSS #pstatus {
	float: left;
	margin-bottom: 5%;
}
#klachtenmeldingCSS button a{
  color: white;
  text-decoration: none;
}

