@font-face {
	font-family: Roboto;
	src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	background-color: #3c3c3b;
	background-color: #3c3c3b;
	padding: 5% 0px;
	position: fixed;
	height: 70px;
	box-sizing: border-box;
}

#content {
	padding-top: 70px;
}

#nav {
	background-color: #3c3c3b;
	max-width: 100%;
}

#erasmushogeschool {
	margin: auto;
	padding: 6px 10% 6px 0px;
	float: right;
	color: white;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 1.3em;
}

.sidenav {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-top: 40px;
	transition: 0.5s;
	font-family: "Roboto";
	margin-left: -100%;
	padding-top: 0;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 1.5em;
	color: #111;
	display: block;
	transition: 0.3s;
	text-align: left;
}

.sidenav li {
	list-style: none;
	border-style: solid;
	border-width: 1px;
	border-color: #bebebe;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 5%;
}

.sidenav ul {
	margin-top: 70px;
	padding-left: 0px;
}

.sidenav .closebutton {
	position: absolute;
	top: 0;
	left: 25px;
	font-size: 1em;
	margin-right: 50px;
	padding-left: 0px;
}

li img {
	width: 1.3em;
	padding-right: 1em;
	float: left;
}

#Hamburger {
	width: 2em;
	padding-left: 3%;
}

#Cross {
	width: 2em;
	padding-left: 3%;
}

/* stukske commentaar */
