@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; 
}

body{
    margin: 0;
}
h2{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2em;
    margin: 25px 0px;
}
p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    margin: 30px 0px;
}
article{
    margin: auto;
    padding: 0px 15px;
    overflow: auto;
}
article img{
    width: 10%;
    height: 10%;
    float: right;
}
.kantoor{
    display: inline;
}
.kantoor p{
    margin: 15px 0px;
}
.noodnummer{
    font-weight: 700;
    width: 45%;
    float: right;
}
.kantooruren{
    width: 45%;
    margin-right: 0px;
    float: left;
}
.uitlegnummer{
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 120px;
}
#tweedenoodgeval{
    background-color: rgb(204,204,204);
}

 /*FOOTER*/

  .lijnenOnderaan{
    height: 20px;
    margin-top: 20%;
    text-align: center;
  }
  .lijnenOnderaan li{
    list-style: none;
    float: left;
    text-indent: -9999px;
    margin-bottom: 2%;
  }
  .lijnenOnderaan ul{
    margin-top: 10px;
    padding: 0;
  }
  .rood{
    width: 45%;
    background-color: #E30512;
  }
  .donkerGrijs{
    width: 30%;
    background-color: #3C3C3B;
  }
  .grijs{
    background-color: #E8E8E8;
    width: 25%;
  }
  footer{
    height: 60px;
  }

@media screen and (max-width: 370px){
    h1{
        font-size: 1.1em;
    }
    p{
        font-size: 0.9em;
    }
    .noodnummer{
        width: 30%;
    }
    .kantooruren{
        width: 50%;
    }
}
@media screen and (max-width: 415px){
.lijnenOnderaan{
    margin-top: 27%;
  }
}
@media screen and (max-width: 412px){
.lijnenOnderaan{
    margin-top: 10%;
  }
}
@media screen and (max-width: 360px){
.lijnenOnderaan{
    margin-top: 13%;
  }
}
  @media screen and (max-width: 321px){
.lijnenOnderaan{
    margin-top: 10%;
  }
}