@font-face {
  font-family: Roboto;

  src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }


@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

  
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------HOMEPAGINA-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 750px){
  
  body{
    font-family: Roboto;
    background-color: #CCCCCC ;
    margin: 0;
    padding: 0;
  }
  
  header{
    margin-top: 10%;
    text-align: center;
  }
  .logoFix{
    width: 70%;
  }
  .iconDeel{
    height: 350px;
    box-sizing: border-box;
    padding: 9%;
  }
  .ulIcons{
    width: 100%;
    margin:0;
    padding: 0;
  }
 .ulIcons li{
    width: 46%;
    height: 150px;
    list-style: none;
    background-color: #3C3C3B;
    color: white;
    text-align: center;
    display: inline;
    float: left;
    margin: 2%;
    font-weight: bolder;
    letter-spacing: 1px; 
   font-family: 'Roboto Bold'
  }
  
 .ulIcons li img{
    width: 67%;
    margin-top: 9%;
  }
  
 .ulIcons .profielLi{
    background-color: white;
    color: #3C3C3B;
    border-radius: 30px 0 0 0;
  }
  
  .deelButton{
    text-align: center
  }
  .bezoekEHB{
    width: 79%;
    background-color: #E30512;
    border: none;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1.5%;
  }
  
  .lijnenOnderaan{
    height: 20px;
    margin-top: 20%;
    text-align: center;
  }
  .lijnenOnderaan li{
    list-style: none;
    float: left;
    text-indent: -9999px;
    margin-bottom: 2%;
  }
  .lijnenOnderaan ul{
    margin-top: 10px;
    padding: 0;
  }
  .rood{
    width: 45%;
    background-color: #E30512;
  }
  .donkerGrijs{
    width: 30%;
    background-color: #3C3C3B;
  }
  .grijs{
    background-color: #E8E8E8;
    width: 25%;
  }
  footer{
    height: 60px;
  }
  
}

@media screen and (max-width: 415px){
.lijnenOnderaan{
    margin-top: 27%;
  }
}
@media screen and (max-width: 412px){
.lijnenOnderaan{
    margin-top: 10%;
  }
  
@media screen and (max-width: 360px){
.lijnenOnderaan{
    margin-top: 13%;
  }
  
  @media screen and (max-width: 321px){
.lijnenOnderaan{
    margin-top: 10%;
  }
     .ulIcons li{
    width: 46%;
    height: 130px;
   
  }
   .iconDeel{
    height: 302px;
    box-sizing: border-box;
    padding: 6%;
  } 
}

  
  
  