    @media screen and (max-width:1440px) {
    @font-face {
        font-family: Roboto;
        src: url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/fonts/Regular/Roboto-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Roboto Bold';
        src: url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/fonts/Bold/Roboto-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
    }
    /*--------------------------------------------------*/
    .handleiding {
        margin: 0;
        background-color: rgb(204, 204, 204);
        overflow: auto;
    }
    .handleiding #tekst {
        width: 20em;
        height: 5em;
    }
    .handleiding #tekst p {
        font-family: 'Roboto bold';
        font-size: 0.8em;
        padding: 1em 1.2em;
        text-align: center;
        margin: 0;
    }
    .handleiding .Slider {
        display: none
    }
    .handleiding #container {
        max-width: 20em;
        position: relative;
        margin: auto;
        background-color: rgb(204, 204, 204);
    }
    .handleiding #fotoContainer {
        width: 100%;
        height: 28.5em;
        overflow: hidden;
        border: 2px solid white;
    }
    .handleiding #fotoContainer img {
        width: 100%;
        height: auto;
    }
    .handleiding .Vorig,
    .handleiding .Volgende {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 1em;
        margin-top: 5em;
        color: white;
        font-weight: bold;
        font-size: 1em;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .handleiding .Volgende {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .handleiding .Vorig:hover,
    .handleiding .Volgende:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .handleiding #doos {
        position: fixed;
        bottom: 0;
        background-color: aliceblue;
    }
    .handleiding #dots {
        display: block;
        box-sizing: border-box;
        float: left;
        margin-top: 0.9em;
        padding-bottom: 0.8em;
        margin-left: 8em;
    }
    .handleiding #overslaan {
        display: block;
        box-sizing: border-box;
        margin: 0;
        padding: 1em;
        margin-left: 19.5em;
    }
    .handleiding #overslaan a {
        font-family: 'Roboto Bold';
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .handleiding .Aanwijzingen {
        cursor: pointer;
        height: 1em;
        width: 1em;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .handleiding .Aanwijzingen:hover {
        background-color: red;
    }
    .handleiding .active {
        background-color: black;
    }
    /*Iphone 6 plus*/
    @media screen and (max-width:414px) {
        .handleiding #overslaan {
            padding: 1em;
            margin-left: 22em;
        }
    }
    @media screen and (max-width:376px) {
        .handleiding #overslaan {
            padding: 1em;
            margin-left: 20em;
        }
    }
    @media screen and (max-width:360px) {
        .handleiding #overslaan {
            padding: 3.5% 0;
            margin-left: 19.5em;
            padding-right: 1em;
        }
    }
    @media screen and (max-width:320px) {
        .handleiding #fotoContainer {
            width: 14.5em;
            height: 20.5em;
            margin: 0 auto;
        }
        .handleiding #overslaan {
            padding: 1em 0;
            margin-left: 16.5em;
            padding-right: 1.5em;
        }
        .handleiding #dots {
            padding: 0.5em;
            margin-left: 4.5em;
        }
        .handleiding .Aanwijzingen {
            height: 1em;
            width: 1em;
        }
    }